/* 
    Created on : 05-Dec-2015, 14:29:35
    Author     : Dumisani
    Description:
        CSS for the Main page structure and style
*/

div.SiteBranding{           /*For both the LHS SiteTitle div and also the RHS dive for the search area and user login info*/
    height: 80px;
}

div.SiteBranding div{           /*For both the LHS SiteTitle div and also the RHS dive for the search area and user login info*/
    display: inline-block;
}
    

div.siteTitle{
    width: 60%;
    height: 100%;
}
h1.siteTitle{
    font-size: 40px;
    font-weight: bold;
    display:inline-block;
}
.siteTitle a {
    color: #111;
    text-decoration:none;
}

div.searchToolArea{
    width: 35%;
    height: 80px;
    float:right;
}
input.searchToolArea{
    width: 250;
    height:20px;
    float:right;                /*Push to the right of the Div*/
    resize: none;
    
}

body{
    background-image: url("../images/background.png");
    background-repeat:repeat;
}

/*Entire Page frame Panel*/
body div.Page{
    /*To align the page to the center:
    Set a fixed width and asign the left and right margins to auto*/
    width:1000px;
    margin-left:auto;
    margin-right:auto;              
}


/*Page Menu*/
body div.EntireMenu{
    width:1000px;
    height:40px;
    /*Colour:*/
    background-color: rgb(25,25,25);
}

div.EntireMenu ul{
    margin: 0px;
    padding: 0px;       /*Ensured that the list starts immediately at begining of the Menu Div*/
    list-style-type: none;        /*list-style: outside none none;  */
    height: 100%;   /*Somehow, this only works if I do the same for the li{} below*/
}

div.EntireMenu li{
    display:inline-block;
    height: 100%;    
    border-right: 0.5px hidden lightgray;      /*<border-style> = none | hidden | dotted | dashed | solid | double | groove | ridge | inset | outset*/
    /*border-radius: 0px 5px 0px 0px;*/
}

div.EntireMenu li a{
    height: 40px;
    color: #FFFFFF;
    text-align: center;
    
    padding: 5px 10px 0px 10px;      /*top right bottom left	*/
    display: block;
    text-decoration:none; /*Removes Underline on href*/
}

div.MenuPicture{
   height: 200px;
}

img.MenuPicture{
    width:100%;
    height:100%;
}


/*Page Content panel, where we will put text.
NB: This should be an iframe or frameset */
body div.contentPanel{
    /*Set the top and bottom margins*/
    margin-top:0px;
    margin-bottom: 10px;
    bottom:auto;
    overflow:auto;
    
    /*Colour*/
    background-color: rgba(255,255,255, 0.95);
}
 

iframe.contentIframe{
    width:100%;
    height:100%;
    
}